    @font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/Lato-Hairline.eot');
    src: url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Lato-Hairline.woff2') format('woff2'),
         url('fonts/Lato-Hairline.woff') format('woff'),
         url('fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


body {
  margin: 0;
  padding: 0;
background-color: #AAA9A8;

            font-family: "LatoWebHairline";
        font-size: 5vh;
      }


.clock {
  position: fixed;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clock .hour, .clock .min, .clock .sec {
  position: absolute;
  background-color: dimgray;
  transform-origin: 0% 100%;
  border-radius: 4px;
box-shadow: .5px .5px 3px slategray;
}

.clock .hour.animate, .clock .min.animate, .clock .sec.animate {
  transition: all 0.2s ease-in-out;
}
.clock .hour {
  width: 1px;
  height: 600px;
  top: 0;

}
.clock .min {
  width: 1px;
  height: 600px;
  top: 0;
}
.clock .sec {
  width: 1px;
  height: 600px;
  top: 0;
}


#myclock.clock {
  top: -40%;
}





#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 120vw;
  min-height: 120vh;
  z-index: -3;
filter:opacity(90%) invert(56%) saturate(300%) brightness(120%);
}



.scrolltxt {
overflow: scroll;
      position: absolute;
padding-top: 30px;
    padding-right: 30px;
    
  width: 52vw;
  max-height: 20vh;

}


.scrolltxt::-webkit-scrollbar {
    display: none;}
    
    #scrolltp {
        right: 5px;
    top: 5px;
    }
    
  #scrollbtm {
        right: 5px;
    bottom: 5px;
    }
    


#night {
  display: block;
  position: absolute;
  right: 220px;
  bottom: 320px;
filter: opacity(0.7) blur(3px);
  z-index: -2;
}

#ringbook {
  display: block;
  position: absolute;
  top: 160px;
  left: 920px;
filter: opacity(0.8) blur(.1px);

  z-index: -2;
}

#laser {
  display: block;
  position: absolute;
  right: 860px;
  bottom: 180px;
filter: opacity(0.5) blur(2.5px);
  z-index: -2;
}



.layer {
    background-color: rgba(216, 216, 216, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

}



.menu:hover {  text-shadow: 1px 1px 5px #CCCCCC;
	cursor: default; 
		 }


    
        a {
        font-family: "LatoWebHairline";
        font-size: 5vh;
            color: #F4F4E8;
  text-shadow: 1px 1px 5px #808080;
        }
        
        a:link {
  text-decoration: none;
}

        a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
        



      #sometime {
        animation: blinker 11s linear infinite;
position:absolute; 
top:10px; 
left: 25px;
  z-index: 2;
      }

      @keyframes blinker {
        0% {
          opacity: 0.1;
        }

}

      #somewhere {
        animation: blinker 10s linear infinite;
position:absolute; 
bottom:20px; 
left:25px;
  z-index: 2;
      }

      @keyframes blinker {
        50% {
          opacity: 0.1;
        }
}




